.contentContainer {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
}

.employeesSection {
    background-color: bisque;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

