.loginWrapper {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.loginForm {
    animation-name: loginAppearance;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes loginAppearance {
    0%
    {
        opacity: 0;
        transform: translateY(-100%);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}
