.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "header"
    "content";
    grid-template-rows: 1fr 8fr;
    height: 100vh;
}

.content {
    grid-area: content;
    background-color: #212429;
}